*{
;
}



body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
  font-family:'Merriweather', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7eaba6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
