.wheel{
  padding:10px 20px;
  .nameState{
    text-align: center;
  }
  .buttons{
    align-items: center;
  }
  .numberButton{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #7eaba6;
    color: white;
    position: center;
  }

}